.app__navbar{
    display: flex;
    background:  #1e1b27;
    color: azure;
    width: 250px;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
.app__navbar ul a{
    text-decoration: none;
    color: azure;
}
.app__navbar ul a:visited{
    text-decoration: none;
}
.app__navbar li{
    font-size: 20px;
    list-style: none;
}