.app__log {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--color-black);
  color: rgb(227, 227, 227);
  width: 100%;
}
.app__log-content {
  display: flex;
  width: 99%;
  align-items: center;
  flex-direction: column;
}
.app__log_table {
  width: 90%;
  margin: 1rem 0 0 1rem;
}
.app__log_tr {
  background-color: rgb(56, 56, 56);
}
.app__log_td {
  display: flex;
  text-align: start;
}
