.app__viewproject {
  display: flex;
  flex-direction: row;
  background: var(--color-black);
  color: rgb(227, 227, 227);
}
.app__viewproject-content {
  display: flex;
  justify-content: center;
  width: 100vw;
}
