.App {
  text-align: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: var(--color-black);
}
.remove_button {
  background-color: brown;
  border: none;
  border-radius: 3px;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}
.remove_button:hover {
  background-color: rgb(185, 39, 39);
}
.remove_button:active {
  background-color: rgb(216, 34, 34);
}
.update_button {
  background-color: rgb(126, 96, 0);
  border: none;
  border-radius: 3px;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  margin-right: 0.5rem;
}
.update_button:hover {
  background-color: rgb(150, 115, 1);
}
.update_button:active {
  background-color: rgb(175, 135, 3);
}
.remove_project {
  background-color: brown;
  border: none;
  margin-top: 3rem;
  height: 25px;
  border-radius: 3px;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}
.remove_project:hover {
  background-color: rgb(185, 39, 39);
}
.remove_project:active {
  background-color: rgb(216, 34, 34);
}
.goBackButton {
  position: absolute;
  top: 20px;
  left: 20px;
}
