body {
  padding: 0;
  margin: 0;
}

:root {
  --font-base: "Cormorant Upright", serif;
  --font-alt: "Open Sans", sans-serif;

  --color-golden: #dcca87;
  --color-black: #080808;
  --color-grey: #0f0f0f;

  --color-white: #ecebeb;
}
