.app__inventory {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--color-black);
  color: rgb(227, 227, 227);
  width: 100%;
}
.app__inventory-content {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.app__inventory-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app__inventory-noprojects {
  display: flex;
  justify-content: center;
  align-items: center;
}
