.app__projectpage {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--color-black);
  color: rgb(227, 227, 227);
  width: 100vw;
  height: 100vh;
}
.app__projectpage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
  font-size: 12px;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
}
.app__projectpage-content h1 {
  font-weight: 300;
}
.app__projectpage-singleitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  background: var(--color-grey);
  height: 40px;
  width: 750px;
  margin: 1rem;
  padding: 0 1rem;
}
.app__projectpage-singleitem h3 {
  margin-right: 1rem;
}

.app__projectpage-content-additem {
  display: flex;
}
