.app__createuser {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.app__createuser-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 800px;
  height: 580px;
  border-radius: 14px;
  background: var(--color-grey);
  font-family: "Courier New", Courier, monospace;
  color: var(--color-white);
}
.app__createuser-content-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app__createuser-content-title h1 {
  font-weight: 300;
}
.app_createuser-form-firstrow,
.app_createuser-form-secondrow,
.app_createuser-form-thirdrow,
.app_createuser-form-fourthrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app_createuser-form-firstrow :first-child,
.app_createuser-form-thirdrow :first-child,
.app_createuser-form-fourthrow :first-child {
  margin-right: 1rem;
}
