.app__display-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
}
.app__display-projects-singleproject {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-grey);
  height: 50px;
  width: 500px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.app__display-projects-singleproject h1 {
  color: var(--color-white);
  font-size: 28px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}
.app_display-projects-singleproject a {
  text-decoration: none;
  color: var(--color-white);
}
.app_display-projects-singleproject a:hover {
  color: var(--color-blue);
  text-decoration: none;
}
.app_display-projects-singleproject a:visited {
  text-decoration: none;
  color: var(--color-white);
}
