.app__login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.app__login-content {
  display: flex;
  background-color: var(--color-grey);
  border-radius: 3px;
  height: 50vh;
  width: 600px;
  color: var(--color-white);
}
