.app__start {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.app__start-private,
.app__start-company {
  background: black;
  border-radius: 12px;
  border: 2px solid var(--color-blue);
  box-sizing: border-box;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  line-height: 1rem;
  cursor: pointer;
}
.app__start-private:hover {
  border: 3px solid var(--color-blue);
  margin: -1px;
}
.app__start-company:hover {
  border: 3px solid var(--color-blue);
  margin: -1px;
}
.app__start-company h1:visited {
  color: var(--color-white);
}

.app__start h1,
h2 {
  display: flex;
  justify-content: center;
  font-weight: 200;
  margin: 1rem;
}
.app__start h2 {
  font-size: 18px;
}
